<html>
  <head>
    <%= xrds_meta(request) %>
    <title>Rails mojeID Example</title>
  </head>
  <style type="text/css">
    * {
      font-family: verdana,sans-serif;
    }
    body {
      width: 50em;
      margin: 1em;
    }
    div {
      padding: .5em;
    }
    .alert {
      border: 1px solid #e7dc2b;
      background: #fff888;
    }
    .error {
      border: 1px solid #ff0000;
      background: #ffaaaa;
    }
    .success {
      border: 1px solid #00ff00;
      background: #aaffaa;
    }
    #verify-form {
      border: 1px solid #777777;
      background: #dddddd;
      margin-top: 1em;
      padding-bottom: 0em;
    }
    input.openid {
      background: url( /images/openid_login_bg.gif ) no-repeat;
      background-position: 0 50%;
      background-color: #fff;
      padding-left: 18px;
    }

    table tr th {background: #dddddd; text-align: left;}
  </style>
  <body>
    <h1>Rails mojeID Example</h1>
    <% if flash[:alert] %>
      <div class='alert'>
        <%= h(flash[:alert]) %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='error'>
        <%= h(flash[:error]) %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class='success'>
        <%= h(flash[:success]) %>
      </div>
    <% end %>

    <div id="verify-form">
      <form method="get" accept-charset="UTF-8" action='<%= url_for :action => 'start_get_data' %>'>
        Identifier:
        <%= text_field_tag("openid_identifier", nil, :class => "openid") %>
        <%= select_tag('openid_domain', options_for_select(['.mojeid.cz'])) %>
        <%= submit_tag "Get data" %><br />
      </form>

      <form method="get" accept-charset="UTF-8" action='<%= url_for :action => 'start_update_data' %>'>
        <% if @moje_id %>
          <table cellspacing="0">
            <% MojeIDAttributes::AVAILABLE_ATTRIBUTES[0..3].each do |attribute| %>
              <tr>
                <th><%= label_tag("moje_id_attributes[#{attribute}]", attribute) %></th>
                <td><%= text_field_tag("moje_id_attributes[#{attribute}]", @moje_id.get_attribute_value(attribute))   %></td>
              </tr>
            <% end %>
            <tr>
              <th></th>
              <td><%= submit_tag "Save data" %><br /></td>
            </tr>
          </table>
          <%= hidden_field_tag('openid_identifier', @moje_id.identifier) %>
        <% end %>
      </form>
    </div>
  </body>
</html>
